{% extends 'base.html' %}

{% block title %} {{ pet.name }} Details {% endblock %}

{% block content %}
    <h1>{{ pet.name }} Details</h1>
    <img src="{{ pet.photo_url }}" alt="{{ pet.name }}">

    <p><strong>Species:</strong> {{ pet.species }}</p>
    <p><strong>Age:</strong> {{ pet.age }}</p>
    <p><strong>Notes:</strong> {{ pet.notes }}</p>
    <p><strong>Adoption Status:</strong> {% if pet.available %} 
        Not yet adopted{% else %} Adopted.{% endif %}</p>

   
        <h2>Edit Pet</h2>
        <form method="post">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <p>
                <label for="notes">Notes:</label>
                {{ form.notes }}
            </p>
            <p>
                <label for="photo_url">Photo URL:</label>
                {{ form.photo_url }}
            </p>
            <p>
                <label for="available">Is this pet available?</label>
                {{ form.available }}
            </p>
            <button type="submit">Save Changes</button>
        </form>
    

    <a href="{{ url_for('pets_index') }}" class="button-link">Back to Pets</a>
{% endblock %}
